hostname = *.ecitic.com, *.jw2008.cn, *.schengle.com, *.xunliandata.com,
^https:\/\/ldp\.creditcard\.ecitic\.com\/citiccard\/lottery-gateway-pay\/user-acts-group-qualification\.do ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/jf\.creditcard\.ecitic\.com\/citiccard\/jfxd-api-gateway\/jfxd-app-goods\/sku\/sku-stock\?skuId=\d+ ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/mall-api2-demo\.jw2008\.cn\/mall-basic-portal\/v2\/oms\/order\/equityPoint\/validOrder ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/mall-api2-demo\.jw2008\.cn\/mall-basic-portal\/v2\/portal\/pms\/equityPoint\/activityPage\/[A-Z0-9]{20} ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/ldp\.creditcard\.ecitic\.com\/citiccard\/lottery-gateway-pay\/prizes\.do\?actId=QDXFDBCJ ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/ldp\.creditcard\.ecitic\.com\/citiccard\/lottery-gateway-pay\/get-server-time\.do ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/h5\.schengle\.com\/ShengDaZXZHJSHD\/\/new\/order\/queryPoint ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/jiesongji.js
^https:\/\/mcc\.xunliandata\.com\/plus\/base\/qualification\/check ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/wsdxc.js
^^https:\/\/mcc\.xunliandata\.com\/plus\/base\/qualification\/preLock ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/mccxun.js
^^https:\/\/mcc\.xunliandata\.com\/plus\/service\/coffee\/claim ^POST url-and-header script-request-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/main/xmly/intercept.js
^https:\/\/crm2\.xidesheng\.com\/index\.php\/SmallProgramApi\/Store\/getStore_v1 url script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/main/xmly/vip_store.js



