hostname = *.ecitic.com, *.jw2008.cn
^https:\/\/ldp\.creditcard\.ecitic\.com\/citiccard\/lottery-gateway-pay\/user-acts-group-qualification\.do ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/jf\.creditcard\.ecitic\.com\/citiccard\/jfxd-api-gateway\/jfxd-app-goods\/sku\/sku-stock\?skuId=\d+ ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/mall-api2-demo\.jw2008\.cn\/mall-basic-portal\/v2\/oms\/order\/equityPoint\/(validOrder|confirmOrder) ^POST url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
^https:\/\/mall-api2-demo\.jw2008\.cn\/mall-basic-portal\/v2\/portal\/pms\/equityPoint\/activityPage\/QYD1885509954898931712 ^GET url-and-header script-response-body https://ghproxy.net/https://raw.githubusercontent.com/javafast/QuantumultX/refs/heads/main/xmly/ecitic.js
